{% extends 'layout.html.twig' %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/admin.css" >
  <link rel="stylesheet" href="../assets/css/menu.css" >
{% endblock %}
{% block title %}Loufok - administrateur{% endblock %}
{% block content %}
<body>

  <!-- menu -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <input class="navbar__burger" id="burger" type="checkbox" />
          <label for="burger" class="navbar__cross">
            <span class="navbar__cross1"></span>
            <span class="navbar__cross2"></span>
          </label>

        <div class="menu">
          <nav class="menu__hidden">
            <ul class="menu__hidden__list">
              <li class="menu__hidden__listItem"><a class="menu__hidden__link" href="/loufok/admin">Nouveau cadavre exquis</a></li>
              <li class="menu__hidden__listItem"><a class="menu__hidden__link" href="/loufok/admin/affichage">Cadavre exquis en cours</a></li>
              <li class="menu__hidden__listItem"><a class="menu__hidden__link" href="/loufok/logout">Déconnexion</a></li>
            </ul>
              <img class="menu__end" src="/assets/images/manuscrit.svg" alt="">
          </nav>
        </div>
      </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="welcome">
        <p class="welcome__name"> Bienvenue {{user.ad_mail_administrateur}} </p>
    </div>
    <div class="newCadavre">
    {% if errors != 0 %}
    <span class="newCadavre__errors"> 
    Le cadavre exquis n'a pas été enregistré 
    car des erreurs ont été rencontrées. Merci
    de bien vouloir recommencer. </span>
    {% endif %}

    {% if errors_message != 0 %}
    <span class="newCadavre__errors"> 
    {{ errors_message }}</span>
    {% endif %}
      <form id="newCadavre__form" class="newCadavre__form" action="/loufok/nouveau_cadavre" method="POST">
        
        <div class="newCadavre__formItem">
          <label for="titre_cadavre">Titre du cadavre exquis :</label>
          <input onkeyup="verifTitre(this.value)" type="text" class="input__empty input" id="titre_cadavre" name="titre_cadavre" required >
          <small class="newCadavre__errors error__titre_cadavre">{{ errors.titre }}</small>
        </div>
        <div class="newCadavre__formItem">
          <label for="debut_cadavre">Lancement du cadavre exquis :</label>
          <input onkeyup="verifPeriode(this)" type="date" class="input__date input" id="debut_cadavre" name="debut_cadavre" required >
          <small class="newCadavre__errors error__debut_cadavre">{{ errors.debut_cadavre }}</small>
        </div>

        <div class="newCadavre__formItem">
          <label for="fin_cadavre">Fin du cadavre exquis :</label>
          <input onkeyup="verifPeriode(this)" type="date" class="input__date input" id="fin_cadavre" name="fin_cadavre" required >
          <small class="newCadavre__errors error__fin_cadavre">{{ errors.fin_cadavre }}</small>
        </div>
        
        <div class="newCadavre__formItem">
          <label for="nb_contributions">Contributions maximum :</label>
          <input type="number" class="input__empty input" id="nb_contributions" name="nb_contributions" required >
          <small class="newCadavre__errors error__nb_contributions">{{ errors.nb_contributions_max }}</small>
        </div>
        
        <div class="newCadavre__formItem">
          <label for="contribution"> Lancement du cadavre exquis ! </label>
          <textarea 
            name="contribution" 
            class="input__textarea input"
            placeholder="Votre contribution..." 
            id="contribution" 
            cols="30" 
            rows="10" 
            required
          ></textarea>
          <span class="newContribution__info" id="newContribution__info"></span>
          <small class="newCadavre__errors error__contribution">{{ errors.contribution }}</small>
        </div>
        <input id="btn_submit" type="submit" value="Valider" class="newCadavre__submit">
      </form>
    </div>
  </main>
  
</body>
{% endblock %}
{% block js %}
<script src="/assets/js/nouveau_cadavre.js" ></script>
{# <script src="/assets/js/verification_ajax.js"></script> #}
{% endblock %}