{% extends 'layout.html.twig' %}
{% block css %}
  <link rel="stylesheet" href="/assets/css/admin.css" >
{% endblock %}
{% block title %}Loufok - administrateur{% endblock %}
{% block content %}
<body>

  <!-- menu -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <input {# aria-checked="false" #} tabindex="0" class="navbar__burger" id="burger" type="checkbox" />
          <label tabindex="0" role="button" aria-label="Ouvrir le menu" for="burger" class="navbar__cross">
            <span class="navbar__cross1"></span>
            <span class="navbar__cross2"></span>
          </label>

          <nav class="menu__hidden" >
            <ul class="menu__hidden__list">
              <li class="menu__hidden__listItem"><a aria-label="Nouveau cadavre exquis" role="link" tabindex="-1" class="menu__hidden__link" href="/loufok/admin">Nouveau cadavre exquis</a></li>
              <li class="menu__hidden__listItem"><a aria-label="Cadavre exquis en cours" role="link" tabindex="-1" class="menu__hidden__link" href="/loufok/admin/affichage">Cadavre exquis en cours</a></li>
              <li class="menu__hidden__listItem"><a aria-label="Déconnexion" role="link" tabindex="-1" class="menu__hidden__link" href="/loufok/logout">Déconnexion</a></li>
            </ul>
              <img class="menu__end" src="/assets/images/manuscrit.svg" alt="" />
          </nav>
        <div class="menu">
        </div>
      </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="welcome">
        <p class="welcome__name"> Bienvenue {{user.ad_mail_administrateur}} </p>
    </div>
    <div class="newCadavre">

    {% if global_message != 0 %}
    <span class="newCadavre__message">{{global_message}}</span>
    {% endif %}

      <form arial-label="formulaire d'ajout de cadavre" id="newCadavre__form" class="newCadavre__form" action="" method="POST">
        
        <div class="newCadavre__formItem">
          <label for="titre_cadavre">Titre du cadavre exquis :</label>
          <input aria-label="champ de remplissage pour titre" type="text" class="input__empty input" id="titre_cadavre" name="titre_cadavre" required >
          <small class="newCadavre__errors error__titre_cadavre">{{ errors_message.titre }}</small>
        </div>
        <div class="newCadavre__formItem">
          <label for="debut_cadavre">Lancement du cadavre exquis :</label>
          <input aria-label="champ de remplissage pour date de début" type="date" class="input__date input" id="debut_cadavre" name="debut_cadavre" required >
          <small class="newCadavre__errors error__debut_cadavre">{{ errors_message.debut_cadavre }}</small>
        </div>

        <div class="newCadavre__formItem">
          <label for="fin_cadavre">Fin du cadavre exquis :</label>
          <input aria-label="champ de remplissage date de fin" type="date" class="input__date input" id="fin_cadavre" name="fin_cadavre" required >
          <small class="newCadavre__errors error__fin_cadavre">{{ errors_message.fin_cadavre }}</small>
        </div>
        
        <div class="newCadavre__formItem">
          <label for="nb_contributions">Contributions maximum :</label>
          <input aria-label="champ de remplissage nombre maximum de contributions" type="number" class="input__empty input" id="nb_contributions" name="nb_contributions" required >
          <small class="newCadavre__errors error__nb_contributions">{{ errors.nb_contributions_max }}</small>
        </div>
        
        <div class="newCadavre__formItem">
          <label for="contribution"> Lancement du cadavre exquis ! </label>
          <textarea 
            name="contribution" 
            class="input__textarea input"
            placeholder="Votre contribution..." 
            id="contribution" 
            cols="30" 
            rows="10" 
            required
          ></textarea>
          <span class="newContribution__info" id="newContribution__info"></span>
          <small class="newCadavre__errors error__contribution">{{ errors.contribution }}</small>
        </div>
        <input aria-label="soumettre le formulaire" id="btn_submit" type="submit" value="Valider" class="newCadavre__submit">
      </form>
    </div>
  </main>

  <footer class="footer">
    <div class="access">
    <img  class="access__icon" tabindex="0" src="/assets/images/access_icon.png" alt="Accessibilité" aria-label="accessibilité" />
      <div class="access__shadow">
        <button class="footer__button access__dys">Dyslexique</button>
        <button class="footer__button access__increase" alt="Augmenter la taille du texte" aria-label="Augmenter la taille du texte" ><img src="/assets/images/increase.svg"/></button>
        <button alt="Diminuer la taille du texte" aria-label="Diminuer la taille du texte" class="footer__button access__decrease" ><img src="/assets/images/decrease.svg"/></button>
      </div>
    </div>
  </footer>

</body>
{% endblock %}
{% block js %}
<script>
  let titres={{titres | raw}};
  let periodes={{periodes | raw}};
</script>
<script src="/assets/js/nouveauCadavre.js"></script>
{% endblock %}