{% extends 'layout.html.twig' %}
{% block csslink %}../../assets/css/admin.css{% endblock %}
{% block title %}Loufok login{% endblock %}
{% block content %}
<body>

  <!-- logout -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <a href="/loufok/logout" class="navbar__logout">
              <img src="/assets/images/logout.svg" alt="Déconnexion">
          </a>
      </div>
  </header>

  <!-- Main Content -->
  <main>
    <div class="welcome">
        <p class="welcome__name"> Bienvenue {{user.ad_mail_administrateur}} </p>
    </div>
    <div class="cadavre">
    {% if prochaine_date is not empty %}
      <div>
        Aucun cadavre exquis en cours pour le moment.{{prochaine_date}}
      </div>
    {% endif %}
    
    {% if cadavre is not empty %}
      <p> {{ cadavre.titre_cadavre|capitalize }} </p>
      <p> du {{ cadavre.date_debut_cadavre|date("d/m/Y") }} au {{ cadavre.date_fin_cadavre|date("d/m/Y") }} </p>
      <p> contributions max : {{ cadavre.nb_contributions }} </p>
      {% for contribution in contributions %}
        <p>{{ contribution.texte_contribution}}</p>
      {% endfor %}
    {% endif %}

    </div>
  </main>
  
</body>
{% endblock %}
{% block js %}
<script src="/assets/js/nouveau_cadavre.js" ></script>
{% endblock %}