{% extends 'layout.html.twig' %}
{% block title %}Contribution Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="{{ url('/assets/css/style.css') }}" >
  <link rel="stylesheet" href="{{ url('/assets/css/affichage_cadavre.css') }}" >
{% endblock css %}
{% block content %}

<!-- logout -->
<header>
  <div class="navbar">
    <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
    <a href="{{ url('/logout') }}" class="navbar__logout">
      <img src="{{ url('/assets/images/logout.svg') }}" alt="Déconnexion">
    </a>
  </div>
</header>

    <main class="joueur__main">
      <div class="welcome">
        <p class="welcome__name"> Bienvenue {{ username }} </p>
    </div>
    <a href="{{ url('/') }}" class="joueur__buttonLink joueur__buttonBack">← Retour</a>
    
    {# si les dates de participations du joueur sont ajd, il peut contributer #}
    {% if date is same as "now"|date("Y-m-d") %}
      <div class="play">
        <p class="play__message">Vous pouvez contribuer ! </p>
      </div>
    {# si non, il doit encore attendre un peu #}
    {% else %}
      <div class="play">
        <p class="play__message">Vous pourrez jouer le {{ date|date("d/m/Y") }} </p>
      </div>
    {% endif %}
    
      {# si le titre existe, affichage du cadavre exquis #}
    {% if title %}
      <section class="cadavreExquis">
        <div class="cadavreExquis__background">
          <h2 class="cadavreExquis__title">{{ title }}</h2>
          <div class="cadavreExquisHead">

          </div>
          {% for contribution in contributions %}
            <div class="contributions">
              {% if contribution is same as(randContrib) %}
                  <p class="contributions__content">{{ randContrib }}</p>
              {% elseif contribution is same as(userContribText) %}
                <p class="contributions__content">{{ userContribText }}</p>
                <p class="contributions__pseudo"> Votre contribution :) </p>
              {% else %}
                <img class="contributions__content" src="{{ url('/assets/images/texte.svg')}}" >
              {% endif %}
            </div>
          {% endfor %} 

        </div>
      </section>

      {% if canAddContrib %}
        {% if date is same as "now"|date("Y-m-d") %}
        <div class="newContribution">
          <form id="newContrib__form" class="newContribution__form" action="" method="POST">
              
              <div class="newContribution__formItem">
                <label for="contribution"> Votre contribution </label>
                <textarea 
                    name="contribution" 
                    class="input__textarea input"
                    placeholder="Votre contribution..." 
                    id="contribution" 
                    cols="30" 
                    rows="10"
                    maxlength="280"
                    minlength="50"
                    required
                ></textarea>
                <span class="newContribution__info" id="newContrib__info"></span>
                <small class="newContribution__errors error__contribution"></small>
              </div>
              <input class="newContribution__submit" id="btn_submit" type="submit" value="Valider">
          </form>
          </div>
          <div>
              <p>{{ msg }}</p>
          </div>

        {% endif %}
      {% endif %}
    {% else %}
      <div>
          <p>Nous sommes désolés, mais il n'y a pas de Cadavre Exquis en construction aujourd'hui.</p>
          <p>{{ error }}</p>
      </div>
    {% endif %}

    </main>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url('/assets/js/newContrib.js')}}" defer></script>
{% endblock js %}