{% extends 'layout.html.twig' %}
{% block title %}Contribution Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/admin.css" >
  <link rel="stylesheet" href="../assets/css/menu.css" >
{% endblock %}
{% block content %}
<body>
    <header>
        <a href="/loufok/logout"> Se déconnecter </a>
        <a href="/loufok"> Retour </a>
    </header>
    <main>

    {% if title %}
    <div>
        <h1>{{ title }}</h1>
        <p>{{ randContrib }}</p>
    </div>

        {% if canAddContrib %}
        <form id="newContrib__form" class="newContrib__form" action="" method="POST">
            
            <div class="newCadavre__formItem">
            <label for="contribution"> Votre contribution </label>
            <textarea 
                name="contribution" 
                class="input__textarea input"
                placeholder="Votre contribution..." 
                id="contribution" 
                cols="30" 
                rows="10"
                maxlength="280"
                minlength="50"
                required
            ></textarea>
            <span class="newContrib__info" id="newContrib__info"></span>
            <small class="newContrib__errors error__contrib">{{ errors.contribution }}</small>
            </div>
            <input id="btn_submit" type="submit" value="Valider" class="newContrib__submit">
        </form>

        {% elseif userContribText %}

        <div>
            <h2>{{ msg }}</h2>
            <p>{{ userContribText }}</p>
        </div>

        {% else %}

        <div>
            <h2>{{ msg }}</h2>
        </div>

        {% endif %}

    {% else %}

    <div>
        <h2>Nous sommes désolés, mais il n'y à pas de Cadavre Exquis en construction aujourd'hui.</h2>
        <h2>{{ error }}</h2>
    </div>

    {% endif %}

    </main>
</body>
{% endblock %}