{% extends 'layout.html.twig' %}
{% block title %}Contribution Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/admin.css" >
{% endblock css %}
{% block content %}
<body>

 <!-- menu -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <input {# aria-checked="false" #} tabindex="0" class="navbar__burger" id="burger" type="checkbox" />
          <label tabindex="0" role="open menu" aria-label="Open menu" for="burger" class="navbar__cross">
            <span class="navbar__cross1"></span>
            <span class="navbar__cross2"></span>
          </label>

          <nav class="menu__hidden" >
            <ul class="menu__hidden__list">
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok">Retour</a></li>
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok/logout">Déconnexion</a></li>
            </ul>
              <img class="menu__end" src="/assets/images/manuscrit.svg" alt="" />
          </nav>
        <div class="menu">
        </div>
      </div>
  </header>

{#      <a href="/loufok/logout"> Se déconnecter </a>
        <a href="/loufok"> Retour </a>
    </header> #}
    <main>

    {% if title %}
    <div>
        <h1>{{ title }}</h1>
        <p>{{ randContrib }}</p>
    </div>

        {% if canAddContrib %}
        <form id="newContrib__form" class="newContrib__form" action="" method="POST">
            
            <div class="newCadavre__formItem">
            <label for="contribution"> Votre contribution </label>
            <textarea 
                name="contribution" 
                class="input__textarea input"
                placeholder="Votre contribution..." 
                id="contribution" 
                cols="30" 
                rows="10"
                maxlength="280"
                minlength="50"
                required
            ></textarea>
            <span class="newContrib__info" id="newContrib__info"></span>
            <small class="newContrib__errors error__contrib"></small>
            </div>
            <input id="btn_submit" type="submit" value="Valider" class="newContrib__submit">
        </form>

        {% block js %}
            <script type="text/javascript" src="../assets/js/newContrib.js" defer></script>
        {% endblock js %}

        {% elseif userContribText %}

        <div>
            <h2>{{ msg }}</h2>
            <p>{{ userContribText }}</p>
        </div>

        {% else %}

        <div>
            <h2>{{ msg }}</h2>
        </div>

        {% endif %}

    {% else %}

    <div>
        <h2>Nous sommes désolés, mais il n'y a pas de Cadavre Exquis en construction aujourd'hui.</h2>
        <h2>{{ error }}</h2>
    </div>

    {% endif %}

    </main>

    <footer class="footer">
    <div class="access">
      <div class="access__shadow">
        <span class="access__dys">Dyslexique</span>
        <img class="access__increase" src="../../assets/images/increase.svg" alt="Augmenter la taille du texte" aria-label="Augmenter la taille du texte" />
        <img class="access__decrease" src="../../assets/images/decrease.svg" alt="Diminuer la taille du texte" aria-label="Diminuer la taille du texte" />
      </div>
    </div>
    <img class="access__icon" src="../../assets/images/access_icon.png" alt="Accessibilité" aria-label="accessibilité" />
  </footer>

</body>
{% endblock %}

{% block js %}
{% endblock %}