{% extends 'layout.html.twig' %}
{% block title %}Contribution Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/style.css" >
{% endblock css %}
{% block content %}

 <!-- menu -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <input {# aria-checked="false" #} tabindex="0" class="navbar__burger" id="burger" type="checkbox" />
          <label tabindex="0" role="open menu" aria-label="Open menu" for="burger" class="navbar__cross">
            <span class="navbar__cross1"></span>
            <span class="navbar__cross2"></span>
          </label>

          <nav class="menu__hidden" >
            <ul class="menu__hidden__list">
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok">Retour</a></li>
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok/logout">Déconnexion</a></li>
            </ul>
              <img class="menu__end" src="/assets/images/manuscrit.svg" alt="" />
          </nav>
        <div class="menu">
        </div>
      </div>
  </header>

{#      <a href="/loufok/logout"> Se déconnecter </a>
        <a href="/loufok"> Retour </a>
    </header> #}
    <main>

    {% if title %}
    <div>
        <h1>{{ title }}</h1>
        {% for contribution in contributions %}
          {% if contribution is same as(randContrib) %}
            <p>{{ randContrib }}</p>
          {% else %}
            <img src="../assets/images/texte.svg" >
          {% endif %}
        {% endfor %}
        
    </div>

        {% if canAddContrib %}
        <form id="newContrib__form" class="newContrib__form" action="" method="POST">
            
            <div class="newCadavre__formItem">
            <label for="contribution"> Votre contribution </label>
            <textarea 
                name="contribution" 
                class="input__textarea input"
                placeholder="Votre contribution..." 
                id="contribution" 
                cols="30" 
                rows="10"
                maxlength="280"
                minlength="50"
                required
            ></textarea>
            <span class="newContrib__info" id="newContrib__info"></span>
            <small class="newContrib__errors error__contrib"></small>
            </div>
            <input id="btn_submit" type="submit" value="Valider" class="newContrib__submit">
        </form>

        {% block js %}
            <script type="text/javascript" src="../assets/js/newContrib.js" defer></script>
        {% endblock js %}

        {% elseif userContribText %}
          <div>
              <p>{{ msg }}</p>
              <p>{{ userContribText }}</p>
          </div>
        {% else %}

        <div>
            <p>{{ msg }}</p>
        </div>

        {% endif %}

    {% else %}

    <div>
        <p>Nous sommes désolés, mais il n'y a pas de Cadavre Exquis en construction aujourd'hui.</p>
        <p>{{ error }}</p>
    </div>

    {% endif %}

    </main>

</body>
{% endblock %}